.footer {
  position: relative;
  color: $whiteColor;
}

.footer__social-block {
  position: absolute;
  top: -10px;
  left: 40%;
  width: 84px;
}
.social-list {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
}

.footer-menu {
  display: block;
  margin-bottom: 35px;
}
.footer__copyright {
  color: #a8b0be;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: -1px;
  width: 210px;
  margin: 0 auto;
  line-height: 1.4rem;
}
.line {
  border-bottom: 1px solid #f1f5f8;
    width: 100%;
    height: 5px;
    &#line1 {
        transform: translateY(0x);
    }
    &#line2 {
      transform: translateY(100px);
  }
}
.luxar {
  display: block;
    text-align: center;
    margin: 20px 0;
}
.footer-menu__menu-bottom {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: revert;
    align-items: center;
}

  .footer__body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 64px;
  }


  .footer__info {
    margin-right: 100px;
  }


  .footer__logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }


  .footer__contacts {
    max-width: 264px;
  }


  .footer__logo {
    grid-column: 2;
  }


  .footer__company-name {
    font-size: 2.8rem;
    line-height: 164%;
    letter-spacing: 0.02em;
  }

  .footer__navigation {
    display: flex;
    align-items: flex-start;
  }

.footer .main-list {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.main-list__item {
  margin: 0 15px;
}
.footer-menu__main-menu::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -22px;
  width: 100%;
  height: 1px;
  background-color: #848484;
}
.main-list__item--sale {
  position: relative;
  &::before {
    content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -30px;
      width: 24px;
      height: 24px;
      background: url(../img/icons/sale.png) center no-repeat;
  }
}
.footer-menu__second-menu {
  grid-area: 1/1/3/1;
    font-size: 1.4rem;
  &.footer-menu__second-menu a{
    color: $mainColor2;
  }
}


.footer-contacts {

  .footer-contacts__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

}
.footer .header__menu-block {
  display: none;
}

@media screen and (min-width: 1832px) {
  .footer {
    padding: 0;
  }
  .footer-menu {
    display: none;
  }
  .footer .header__menu-block {
    margin: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .footer .main-menu, .footer .main-list {
    margin: 0;
  }
  .social-list {
    align-items: center;
    justify-content: center;
  }
  .social-list__item{
    margin: 0 5px;
  }
  .footer__social-block {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
  }

  .footer .second-menu__submenu {
    top: 3px;
  }

  .line#line2{
    transform: translateY(138px);
    width: 50%;
    margin: 0 auto;
}
.footer__bottom {
  display: flex;
  align-items: center;
}
.footer__copyright {
  margin-left: 4vh;
  letter-spacing: normal;
  width: 100%;
}
}

@media screen and (min-width: 768px) and (max-width: 1280px){
  .footer__social-block {
    left: 47%;
  }
  .footer-menu__menu-bottom {
    margin-top: 80px;
  }
  .main-list__item--sale {
    margin: 0 30px
  }
  .footer .footer__logo {
    margin-left: 0;
  }
  .footer__bottom {
    display: flex;
    justify-content: flex-start;
  }
  .footer__copyright {
    margin: 0;
  }
  .luxar {
    margin: 5px 0px 0px 170px;
  }
}

@media screen and (min-width: 1290px) and (max-width: 1832px) {
  .footer {
    padding: 0;
  }
  .footer-menu {
    display: none;
  }
  .footer .header__menu-block {
    margin: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .footer .main-menu, .footer .main-list {
    margin: 0;
  }
  .social-list {
    align-items: center;
    justify-content: center;
  }
  .social-list__item{
    margin: 0 5px;
  }
  .footer__social-block {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
  }

  .line#line2{
    transform: translateY(138px);
    width: 50%;
    margin: 0 auto;
}
.footer__bottom {
  display: flex;
  align-items: center;
}
.footer__copyright {
  margin-left: 4vh;
  letter-spacing: normal;
  width: 100%;
}
.footer .main-menu {
  display: none;
}
.tel {
  white-space: nowrap;
}
}
