.contacts {
  .contacts__nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid $mainColor3;
    position: relative;
    & .active {
      color: black;
      text-decoration: underline;
    }
  }
  .contacts-list__item {
    color: $mainColor2;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  .contacts__map {
    margin-top: 100px;
  }
  .contacts-list__address {
    position: absolute;
    text-align: center;
    top: 145%;
    left: 20%;
  }
}
@media screen and (min-width: 1832px) {
  .contacts {
   & .contacts-list__address {
      left: 29%;
    }
  }
}
