.detail-block .product-card__title {
  border-bottom: 1px solid $mainColor3;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  b {
    font-size: 36px;
    font-weight: normal;
  }
  }
.detail-block .product-card__desc {
    margin-left: 15px;
    line-height: normal;
    margin-right: 15px;
  }
.detail-block .product-card__header {
    position: relative;
 }
.detail-block .quick-order {
  display: none;
}
.details .detail-block .btn--back {
  margin-top: 0;
  margin-bottom: 1rem;
  & svg {
    width: 20px;
    transform: rotate(
        180deg);
  }
}
.product-card__property {
  margin-top: 15px;
  border-bottom: 1px solid $mainColor3;
}
.details .link_style_button svg {
  opacity: 0;
}
.product-card__property ul li p, .product-card__size span {
  color: $mainColor2;
  font-size: 14px;
}
.product-card__property li {
  margin-bottom: 10px;
}
.product-card__property .color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  & p {
    grid-area: 1 / 1 / 2 / 3;
  }
  & span {
    grid-area: 2 / 1 / 3 / 2;
  }
  & b {
    font-weight: normal;
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 25px;
    padding-bottom: 2px;
  }
}

.details .nav-color__block .product-color {
  position: relative;
  background-position: center;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  &:hover {
    border: 1px solid gray;
  }
}
.details  .product-card__nav-item.is-active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 50%;
}
.details  .product-card .size-list {
  display: flex;
  & li {
    margin-right: 15px;
    padding: 4px;
  }
}
.details .color__block {
  align-items: center;
  display: flex;
}
.detail__other {
  display: none;
}
.product-card .size-list .active {
  background: black;
  & a {
    color: white;
  }
}
.product-card .size-list .not-available {
  & a {
    color: $mainColor3;
  }
}
.details .nav-color {
  display: flex;
}
.nav-color .product-card__nav-item {
  margin-right: 10px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.product-card__size_table a, .product__stores span, .product__delivery a, .size_table_how {
  color: $mainColor2;
  font-size: 14px;
  border-bottom: 1px solid $mainColor2;
}
.product__stores span {
  border-bottom: none;
}
.product__stores_list .store span{
  color: $mainColor1;
}
.product__stores_list .value {
  margin-left: 30px;
}

.product__stores_list span {
  color: $mainColor1;
  font-size: 16px;
}
.product-card__delivery-block {
  margin-top: 15px;
  border-bottom: 1px solid $mainColor3;
  padding-bottom: 20px;
}
.product__delivery {
  margin-top: 15px;
  & a:first-child {
    margin-right: 10px;
  }
}
.product__stores {
  margin-top: 20px;
}
.product-card__price_old {
  text-decoration: line-through;
  font-size: 14px;
  color: $mainColor2;
  margin-top: 15px;
}

.product__order {
  margin-top: 25px;
  position: relative;
}
.product-card .product-card__btn {
  background: black;
  color: white;
  padding: 20px 80px 20px 30px;
}
.product__order .product-card__favorite {
    top: auto;
    bottom: 14px;
    right: 45px;
    transform: none;
    position: relative;
    top: 4px;
    left: 17px;
  z-index: 0;
    & svg {
      height: 26px;
      margin-bottom: 0.5rem;
    }
  }
.product-card__description {
  margin-top: 20px;

  & h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: $mainColor1;
    font-weight: 300;
  }
  & .desc-text {
    font-size: 14px;
  }
}
.details .btn--more {
  width: 100%;
  padding: 8px 0;
  margin-top: 80px;
}
.bx-breadcrumb {
  display: none;
}
.header .float__fixed {
  display: none;
}
.footer .float__fixed {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  padding-left: 15px;
  & .product-card__title {
    color: black;
    margin-bottom: -3px;
  }
  & .float__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  & .product-card__price {
    color: black;
    font-weight: 500;
    margin-bottom: 3px;
  }
  & .btn-basket__block {
    background: black;
    color: white;
  }
  & .product-card__price_old {
    margin-top: 0;
  }
  & .product-card__favorite {
    position: initial;
  }

  }


}
.mySwiper2 {
  display: block;
  overflow: hidden;
}
.product-card__btn--delivery, .product-card__btn--card {
  display: none;
}
.product-card__btn--basket svg {
  display: none;
}
.detail .product-card__price {
  font-size: 3rem;
}
.nav-color__block {
  margin-left: 1rem;
}
.details .is-active .product-color {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}

@media screen and (min-width: 1366px)  {
  .footer .float__fixed {
    display: none;
  }
  .details .btn--back {
    display: none;
  }
  .header.fixed  .float__fixed {
  display: block;
         background: white;
      width: 100%;
      position: relative;
      border-top: 1px solid $mainColor3;
      margin-top: -1.5rem;
      & .wrapper1800 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      & .product-card__title {
        color: black;
        margin-right: 7rem;
        & span {
          color: $mainColor2;
          margin-left: 2rem;
        }
      }

      & .product-card__btn {
        width: 23rem;
        padding: 10px 20px;
        justify-content: space-between;
        background: #000;
         color: #fff;
         margin-right: 2rem;
        & svg {
          display: block;
        }
      }

      & .product-card__price {
        color: black;
        font-weight: 500;
        margin-right: 4rem;
         font-size: 20px;
      }
      & .btn-basket__block {
        background: black;
        color: white;
      }
      & .product-card__price_old {
        margin-top: 0;
      }
      & .product-card__favorite {
        position: initial;
        margin-right: 2rem;
        transform: none;

      }
    & .nav-color__block {
      margin-left: 1rem;
    }



  }
  .details .detail-block {
    & .product-card {
      height: 100%;
    }
    & .product-card__overlay {
      display: none;
    }
    & .product-card__header {
      width: 70%;
    }
    & .product-card__desc {
      width: 30%;
    }
    & .swiper-slide {
      max-height: 100%;
    }
    & .product-card__title {
      border-bottom: 0;
    }
  }
  .details .detail-block .product-card__main {
    display: flex;
    & .size-list {
      margin-bottom: -3vh;
      background: white;
      width: 50%;
    }
    & .nav-color {
      margin-top: 3%;
    }
    & .product-card__btn {
      display: flex;
      justify-content: space-between;
      width: 28rem;
      position: relative;
      display: block;
      padding: 12px 15px 12px 20px;
    }
    & .btn-basket__block {
      position: relative;
      display: flex;
    }
    & .product-card__btn--delivery, .product-card__btn--card {
      display: flex;
      margin-top: 30px;
      background: none;
      border: 1px solid $mainColor3;
      color: $mainColor2;
      &:hover {
        border: 1px solid $mainColor1;
        color: $mainColor1;
      }
    }
    & .product-card__btn--basket svg {
      display: block;
    }
    & .product-card__delivery-block {
      border-bottom: 0;
    }
    & .product-card__property {
      border-bottom: 0;
    }
  }

  .mySwiper2 .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    cursor: pointer;
    margin-bottom: 15%;
  }
  .mySwiper2 .swiper-wrapper  {
    & .swiper-slide-1 {
    grid-area: 1 / 1 / 2 / 3;
    }
    & .swiper-slide-2 {
      grid-area: 1 / 3 / 2 / 5;
    }
    & .swiper-slide-3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    & .swiper-slide-4 {
      grid-area: 2 / 2 / 3 / 3;
    }
    & .swiper-slide-5 {
      grid-area: 2 / 3 / 3 / 4;
    }
    & .swiper-slide-6 {
      grid-area: 2 / 4 / 3 / 5;
    }
  }

  .product-card__property li:not(.size-list li) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px dotted $mainColor3;
    & p {
      width: max-content;
    margin-top: 2px;
    }
    & span {
      margin-bottom: -1%;
      background: white;
    }
  }
  .detail-block .product-card__price {
    font-size: 3rem;
  }
  .product-card__property ul li p, .product-card__size span {
    margin-bottom: 0;
    transform: translateY(3px);
    background: white;
  }
  .product-card__property .color p {
    background: white;
    transform: translateY(4px);
  }
  .product-card__size {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $mainColor3;
    align-items: baseline;
  }
  .details .color__block {
    margin-bottom: -1px;
    grid-area: 1/2/2/3;
    display: inline-grid;
    background: white;
  }
  .nav-color__block {
    display: flex;
    position: relative;
    &:after {
      content: '';
      background: #fff;
      width: 100%;
      position: absolute;
      height: 10px;
      bottom: -3px;
      right: -61px;
    }
  }
  .details .color {
    grid-template-rows: repeat(1,1fr);
  }
  .detail__other {
    display: block;
  }
  .other__h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 3%;
  }
  .bx-breadcrumb {
    display: block;
    margin: 10px 0;
    & svg {
      transition: transform .25s,-webkit-transform .25s;
      transform-origin: 50% 50%;
      transform: rotate(0);
      width: 16px;
      height: 16px;
      color: #8593a2;
      margin-left: 5px;
      margin-bottom: -3px;

    }
    & i {
      color: #7e8389;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 5px;
    }
    & .bx-breadcrumb-item {
      float: left;
      margin-bottom: 10px;
      white-space: nowrap;
      vertical-align: middle;
      margin-right: 10px;
      & a {
        border-bottom: none;
        color: $mainColor2;
        text-decoration: none;
      }
    }
    }


}
